/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  display: block;
}

a:hover,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* -- GENERICS */

body {
  background-color: #fafafa;
}

:root {
  --headerheight: 60px;
  --container_width: 1080px;
  --standardgap: 20px;
  --biggap: 50px;
}

.container {
  max-width: var(--container_width);
  margin: 0 auto;
  padding: 0 50px;
}

.btn {
  display: block;
  border-radius: 25px;
  background-color: #3535ec;
  color: #fff1fa;
  padding: 10px 25px;
  font-weight: bold;
}

.btn:hover {
  background-color: blue;
}

/* # HEADER */

/* header generics */

header {
  min-height: var(--headerheight);
  background-color: #001632;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--headerheight);
}

/* header logo */

header a.logo {
  display: block;
  height: var(--headerheight);
}

header .logo img {
  height: 100%;
}

/* header links */

header .login-wrapper {
  min-height: var(--headerheight);
  display: flex;
  align-items: center;
  gap: var(--standardgap);
}

header .login-link,
header .signup {
  height: fit-content;
  color: #fff1fa;
}

/* # NAV BAR */

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--biggap);
  padding-bottom: var(--biggap);
}

nav .sel-menu {
  display: flex;
  gap: var(--standardgap);
  align-items: center;
}

nav .sel-menu .category,
nav .sel-menu .author {
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 25px;
  color: gray;
  font-size: 21px;
}

nav select#cat,
nav select#aut {
  color: #3535ec;
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: fit-content;
  cursor: pointer;
}

nav select#cat option,
nav select#aut option {
  color: initial;
  cursor: pointer;
}

nav .search-bar {
  display: flex;
}

nav .search-bar input {
  border: 1px;
  border-right-width: 0;
  border-color: gray;
  border-style: solid;
  height: fit-content;
  font-size: 17px;
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav .search-bar .icon {
  border: 1px solid gray;
  padding: 9px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav .search-bar .icon::before {
  content: "\1F50D";
  font-size: 18px;
}

nav .search-bar .icon:hover {
  background-color: #e6e6e6;
}
